$fontSizeBase: 16px;
$fontBase: 'Josefin Sans', sans-serif;
$fontSecond: 'Aleo', serif;
$colorBase: #5474fd;
$colorSecond: #fefefe;
$colorFooter: #232323;







body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}










.mainer {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
}

.section-header {
    width: 100%;
    background-image: url(../images/bg-header.jpg);
    background-size: cover;

    &__caption h1 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: $fontSizeBase + 32;
        font-family: $fontBase;
        font-weight: bold;
        padding: 274px 0 6px 0;
    }
    &__text {
        color: white;
        text-align: center;
        font-size: $fontSizeBase + 6;
        font-family: $fontBase;
        font-weight: 300;
    } 
    &__scroll {
        display: block;
        margin: 120px 0 150px 0;
        text-align: center;
        color: white;
        font-family: $fontBase;
        font-size: $fontSizeBase - 2;
        position: relative;
        text-decoration: none;
    }  
    &__scroll:before {
        content: '';
        border-bottom: 1px solid white;
        width: 10px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: rotate(-45deg) translateX(-2px);
    }
    &__scroll::after {
        content: '';
        border-bottom: 1px solid white;
        width: 10px;
        position: absolute;
        bottom: -12px;
        right: 50%;
        transform: rotate(45deg) translateX(2px);
    }
    &__scroll:hover {
        transform: scale(1.2);
        transition-duration: 0.4s;
        cursor: pointer;
    }
    &__scroll:active {
        transform: scale(1.2);
        transform: translateY(15px);
        transition-duration: 0.4s;
    }
}

.header-form {
    display: flex;
    justify-content: center;
    margin: 52px 0 0 0;
    

    &__text {
        width: 650px;
        height: 62px;
        padding: 0 0 0 122px;
        font-family: $fontBase;
        font-size: $fontSizeBase - 2;
    }
    &__submit {
        width: 146px;
        height: 56px;
        text-transform: uppercase;
        border: none;
        background-color: $colorBase;
        color: $colorSecond;
        font-family: $fontSecond;
        font-size: $fontSizeBase - 2;
        margin: 3px 0 0 -149px;
    } 
    &__submit:hover {
        color: black;
        cursor: pointer;
        transition-duration: 0.4s;
        background-color: #3f56c0;
    }
    &__submit:active{
        color: red;
        cursor: pointer;
        transition-duration: 0.4s;
        transform: scale(1.1); 
    }
}

.icon-serch__form {
    font-size: $fontSizeBase + 5;
    color: white;
    margin: 15px 0 0 -38px;
}











.section-navigation {
    width: 100%;
    height: 80px;
    background-color: $colorBase;
}
.navigation-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        color: $colorSecond;
        font-family: $fontBase;
        font-size: $fontSizeBase + 13;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__logo:hover {
        color: black;
        cursor: pointer;
        transition-duration: 0.4s;
        transform: scale(1.1);
    }
    &__logo:active{
        color: red;
        cursor: pointer;
        transition-duration: 0.4s;
        transform: scale(1.2);
    }
    &__link {
        display: flex;
        align-items: center;

        .link__nav {
            text-transform: uppercase;
            color: $colorSecond;
            font-size: $fontSizeBase - 2;
            font-family: $fontSecond;
            margin: 0 0 0 42px;
            text-decoration: none;
        }
        .link__nav:hover {
            color: black;
            cursor: pointer;
            transition-duration: 0.4s;
            transform: scale(1.1);
        }
        .link__nav:active{
            color: red;
            cursor: pointer;
            transition-duration: 0.4s;
            transform: scale(1.2);
        }  
    }
}




.section-wrapper-choose {
    width: 100%;
    background-image: url(../images/bg-wrapper-choose.jpg);
}
.wrapper-choose {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
    &__description {
     width: 540px; 
    } 
    .description__caption {
        color: $colorSecond;
        margin: 180px 0 62px 0;
        font-size: $fontSizeBase + 20;
        font-family: $fontSecond;
    }
    .description__text {
        color: $colorSecond;
        line-height: 26px;
        font-family: $fontBase;
        font-size: $fontSizeBase;
        margin: 0 0 50px 0;
    }
    .description__button {
        border: none;
        width: 226px;
        height: 60px;
        background-image: url(../images/button.png);
        background-size: cover;
        background-position: center;
        color: $colorSecond;
        text-transform: uppercase;
        font-size: $fontSizeBase;
        font-family: $fontSecond;
        outline: none;
        margin: 0 0 120px 0;
    }
    .description__button:hover {
        color: black;
        cursor: pointer;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    .description__button:active {
        color: red;
        cursor: pointer;
        transition-duration: 0.3s;
        transform: scale(1.2);
    }
    

    
    &__pictures {
        width: 540px;
        position: relative; 
    }
    .pictures__first {
        background-image: url(../images/picture-1.jpg);
        background-size: cover; 
        width: 350px;
        height: 220px; 
        position: absolute;
        top: 110px;
        right: 125px;
    }
    .pictures__last {
        background-image: url(../images/picture-2.jpg);
        background-size: cover; 
        width: 350px;
        height: 220px; 
        position: absolute;
        bottom: 110px;
        right: 0;
    }
}



// OTHER-MENU



.section-other-menu {
    width: 100%;
    height: 336px;
    background-image: url(../images/other-menu.jpg);
    background-size: cover;
    background-position: center;
}
.other-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    &__block {
        font-family: $fontSecond;
        font-size: $fontSizeBase + 20;
        color: $colorSecond;
        margin: 0 0 80px 0;
        display: flex;
        flex-direction: column; 
        text-decoration: none;
        &:hover {
            transform: scale(1.2);
            transition-duration: 0.3s;
        }
    }
    
}
.block__icon {
    width: 70px;
    margin: 0 auto 30px auto;
    background-color: #333333;
}



// COUNTRY



.section-wrapper-country-first {
    width: 100%;
    height: 700px;
    background-image: url(../images/country-1.jpg);
    background-size: cover;
}
.section-wrapper-country-last {
    width: 100%;
    height: 700px;
    background-image: url(../images/country-2.jpg);
    background-size: cover; 
}

.wrapper-block {
    width: 540px;
    padding: 50px 30px;
    background-color: rgba(0, 0, 0, 0.603);

    &__country {
        font-family: $fontBase;
        font-size: $fontSizeBase + 4;
        color: $colorSecond;
    }
    &__caption {
        margin: 32px 0 0 0;
        font-family: $fontBase;
        font-size: $fontSizeBase + 4;
        color: $colorSecond; 
        text-transform: uppercase; 
    }
    &__text {
        margin: 28px 0 0 0;
        font-family: $fontBase;
        font-size: $fontSizeBase;
        color: $colorSecond;
        line-height: 26px; 
    }
    &__button {
        margin: 28px 0 0 0;
        border: none;
        width: 225px;
        height: 60px;
        background-image: url(../images/button.png);
        background-size: cover;
        text-transform: uppercase;
        color: $colorSecond;
        font-family: $fontSecond;
        font-size: $fontSizeBase;
        outline: none;
    }
    &__button:hover {
        color: black;
        transform: scale(1.1);
        transition-duration: 0.3s;
        cursor: pointer;
    }
    &__button:active {
        color: red;
        transform: scale(1.2);
        transition-duration: 0.3s;
    }
}
.mainer__country-first {
    position: relative;
}
.mainer__country-last {
    position: relative;
}
.wrapper-block__group-1 {
    position: absolute;
    top: 230px;
    left: 0;
}
.wrapper-block__group-2 {
    position: absolute;
    top: 230px;
    right: 0;
}



// BLOG

.section-wrapper-blog {
    width: 100%;
    height: 730px;
    background-image: url(../images/bg-turism.jpg);
    background-size: cover;
    
}
.wrapper-blog {
    display: flex;
    flex-direction: column;


    &__subtitle {
        display: flex;
        justify-content: center;
        color: white;
        font-size: $fontSizeBase + 20;
        font-family: $fontSecond;
        margin: 60px 0;
    }
    &__content {
        display: flex;
        align-items: center;


       .content__pictures {
           background-image: url(../images/pictures-turism.jpg);
           background-size: cover;
           background-position: center;
           width: 500px;
           height: 286px;
       } 
       .content__blog {
           max-width: 660px;
           display: flex;
           flex-direction: column;
           padding: 50px 60px;



           .blog__caption {
               color: white;
               text-transform: uppercase;
               font-family: $fontBase;
               font-size: $fontSizeBase + 4;
           }

           .blog__text {
               margin: 50px 0 0 0;
               color: white;
               line-height: 26px;
               font-family: $fontBase;
               font-size: $fontSizeBase;
           }
           .blog__text::before{
               content: '';
               width: 22px;
               height: 20px;
               margin: 0 10px 10px 0;
               display: inline-block;
               background-image: url(../images/quote-left-solid.svg);
               background-size: cover;
               background-position: center;

           }
       }
    }
}




// FOOTER



.section-footer {
    width: 100%;
    height: 278px;
    background-color: $colorFooter;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
       color: $colorSecond;
       text-transform: uppercase;
       font-family: $fontBase;
       font-size: $fontSizeBase + 12;
       font-weight: bold; 
       margin: 120px 0 0 0;
       text-decoration: none;
       &:hover {
           color: #5474fd;
           cursor: pointer;
           transition-duration: 0.3s;
       }
    }
    &__text {
        color: $colorSecond;
       font-family: $fontBase;
       font-size: $fontSizeBase; 
       margin: 5px 0 0 0;
    }
    &__social {
        display: flex;
        margin: 30px 0 0 0;

        .social__link {
            color: $colorSecond;
            margin: 0 11px;
            font-size: $fontSizeBase;
        }
        .social__link--active {
            color: $colorBase;
        }
        .social__link:hover {
            color: $colorBase;
            transform: scale(1.4);
            transition-duration: 0.3s;
            cursor: pointer;
        }
        .social__link:active {
            color: red;
            transform: scale(1.6);
            transition-duration: 0.3s;
        }
    }
}





// RESPONSIVE





@media screen and (max-width: 1150px) {
    .navigation-block {
        box-sizing: border-box;
        padding: 0 30px;
    }

    .wrapper-choose .pictures__last {
        position: absolute;
        right: 20px;
    }

    .other-menu {
        box-sizing: border-box;
        padding: 0 20px;
    }

    .mainer__country-first {
        box-sizing: border-box;
        margin: 0 20px;
    }
    .mainer__country-last {
        box-sizing: border-box;
        margin: 0 20px;
    }
    .wrapper-blog {
        padding: 0 20px;
    }
}



@media screen and (max-width: 990px) {
    .navigation-block {
        box-sizing: border-box;
        padding: 0 30px;
    }
    .navigation-block__link .link__nav {
        margin: 0 0 0 28px;
    }

    .wrapper-choose__description {
        padding: 0 20px;
        box-sizing: border-box;
    }


    .wrapper-choose .pictures__first {
        position: absolute;
        right: 20px;
    }
    .wrapper-choose .pictures__last {
        position: absolute;
        right: 20px;
    }

    .other-menu {
        background-color: #333333;
    }
    .wrapper-blog {
        display: flex;

    }
    .content__pictures {
        width: 50%;
    }
    .content__blog {
        width: 50%;
    }
    
}




@media screen and (max-width: 768px) {
    .header-form {
        box-sizing: border-box;
        padding: 0 20px 0 10px;
    }
    .header-form__text {
        width: 80%;
        padding: 0 130px 0 10px;
    }

    .navigation-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
    }
    .navigation-block__logo {
        margin: 0 0 10px 0;
    }
    
    .navigation-block__link .link__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 23px;
    }

    .wrapper-choose {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .wrapper-choose .description__caption {
        margin: 30px 0 20px 0;
    }
    .wrapper-choose__pictures { 
        display: none;
    }
    .wrapper-choose .description__button {
        margin: 20px;
    }
    .wrapper-choose .description__text {
        margin: 0 0 10px 0;
    }

    .other-menu {
        box-sizing: border-box;
    }

    .other-menu__block {
        font-size: $fontSizeBase + 6;
    }

    .section-wrapper-country-first {
        height: 400px;
        box-sizing: border-box;
    }
    .section-wrapper-country-last {
        height: 400px;
        box-sizing: border-box;
    }

    .wrapper-block__group-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        padding: 15px;
        
    }
    .wrapper-block__group-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        padding: 15px;
    }

    .section-wrapper-blog {
        height: 100%
    }
    .wrapper-blog__subtitle {
        margin: 15px 0;
    }
    .wrapper-blog__content .content__blog .blog__text {
        margin: 15px 0;
    }

    .wrapper-blog__content {
        display: flex;
        justify-content: center;
    }
    .section-other-menu {
        height: 180px;
    }

    .other-menu__block {
        margin: 15px 0;
    }

    .content__pictures {
        display: none;

    }
    .section-footer {
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    .footer__logo {
        margin: 0;
    }

    
}




@media screen and (max-width: 500px) {
    .header-form__text {
        padding: 0 63px 0 10px;
    }
    .header-form__submit {
        width: 56px;
        margin: 3px 0 0 -59px;
        font-size: 12px;
        padding: 0 1px;
        border-radius: 5px;
    }
    .header-form__icon {
        display: none;
    }
    .section-navigation {
        height: 160px;
    }

    .navigation-block {
        padding: 0 10px;
    }
    .navigation-block__logo {
        display: none;
    }
    .navigation-block__link {
        display: flex;
        flex-direction: column;
    }
    .link__nav {
        padding: 8px 0;
        margin: 0;
    }
    .section-other-menu {
        height: 260px;
    }

    .other-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .other-menu__block {
        font-size: $fontSizeBase;
        margin: 0;
    }
    .other-menu__block .block__icon {
        width: 30px;
        margin: 10px auto;
    }
    .wrapper-block__group-1 {
        width: 100%;
        max-width: 300px;
    }
    .wrapper-block__group-2 {
        width: 100%;
        max-width: 300px;
    }
    .wrapper-blog__content .content__blog {
        padding: 10px;
        width: 90%;
    }
}







